.index {
  margin-top: 50vh;
  text-align: center;
  width: max-content;
}
.index .col {
  color: rgb(211, 211, 211);
  background-color: rgb(9, 34, 56);
  margin: 10px;
  min-width: none;
  max-width: fit-content;
  text-decoration: none;
  padding: 20px;
  border-radius: 12px;
}
body {
  background-color: rgb(139, 139, 139);
}
